@font-face {
  font-family: "iconfont"; /* Project id 5097960 */
  src: url('iconfont.woff2?t=1766668543001') format('woff2'),
       url('iconfont.woff?t=1766668543001') format('woff'),
       url('iconfont.ttf?t=1766668543001') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-language_change:before {
  content: "\e629";
}

